html, body {
    font-size: 10px !important; /* Override the 16px reset in the stylesheet of IBM Plex */
    margin: 0;
}

.alectryon-standalone {
    font-family: 'DejaVu Sans';
}

body {
    margin: 0;
}

pre {
    line-height: 1.15 !important;
}

h1, h2 {
    margin: 0;
}

.alectryon-header {
    display: none;
}

.coq-message::before {
   transform: scale(0.6) translateX(50%) translateY(-40%);
}

.alectryon-standalone.alectryon-windowed {
    border-bottom: 1px dashed #2e3436;
}
